Repository bounswe/bounswe2025group7, pull requests merged in 2025-05, with the labels that each got.

#132 [UI] + [Feature]: Add recipe detail page and service for recipe management
  heatHFront/React-Web/web/src/App.js
  heatHFront/React-Web/web/src/pages/HomePage.js
  heatHFront/React-Web/web/src/pages/RecipeDetail.js
  heatHFront/React-Web/web/src/pages/SavedRecipes.js
  heatHFront/React-Web/web/src/services/recipeService.js
Labels: frontend, f-web

#169 [BackEnd]: Implement password reset functionality
  heatHBack/src/main/java/heatH/heatHBack/controller/AuthController.java
  heatHBack/src/main/java/heatH/heatHBack/model/request/ResetPasswordRequest.java
  heatHBack/src/main/java/heatH/heatHBack/service/IAuthService.java
  heatHBack/src/main/java/heatH/heatHBack/service/implementation/AuthService.java
  heatHFront/React-Web/web/src/pages/ResetPasswordPage.jsx
Labels: frontend, f-web

#173 [UI/BUG-FIX]: Refactor ResetPasswordPage to remove unused token handling and update API endpoint
  heatHFront/React-Web/web/src/pages/ResetPasswordPage.jsx
Labels: frontend, f-web

#179 [UI]: Update visuals on recipe detail page, fix refresh bug on my recipe page, add save functionality to saved recipes and recipe detail pages
  heatHFront/React-Web/web/src/pages/Login/SignIn.tsx
  heatHFront/React-Web/web/src/pages/RecipeDetail.js
  heatHFront/React-Web/web/src/pages/SavedRecipes.js
  heatHFront/React-Web/web/src/pages/myRecipes.js
  heatHFront/React-Web/web/src/services/apiClient.js
Labels: bug, frontend, f-web

#195 Mobile/front/interest form
  .github/ISSUE_TEMPLATE/front_web_template.md
  heatHFront/React-Native-Mobile/app/_layout.tsx
  heatHFront/React-Native-Mobile/app/auth/authentication.jsx
  heatHFront/React-Native-Mobile/app/auth/login.jsx
  heatHFront/React-Native-Mobile/app/form/banner.jsx
  heatHFront/React-Native-Mobile/app/form/interestForm.jsx
  heatHFront/React-Native-Mobile/app/main.tsx
  heatHFront/React-Native-Mobile/assets/images/auth/verif.png
  heatHFront/React-Native-Mobile/assets/images/auth/verif_success.png
  heatHFront/React-Native-Mobile/assets/images/forms/b2.jpg
  heatHFront/React-Native-Mobile/assets/images/forms/interestFormBg.jpg
  heatHFront/React-Native-Mobile/assets/images/general/arrow.backward.png
  heatHFront/React-Native-Mobile/assets/images/general/go_back.png
  heatHFront/React-Native-Mobile/assets/images/general/logo.png
  heatHFront/React-Native-Mobile/assets/images/general/logoWithCircle.png
  heatHFront/React-Native-Mobile/components/auth/ThemedAuth.jsx
  heatHFront/React-Native-Mobile/package-lock.json
  heatHFront/React-Native-Mobile/package.json
  heatHFront/React-Native-Mobile/services/apiClient.js
  heatHFront/React-Native-Mobile/services/authService.js
  heatHFront/React-Native-Mobile/styles/Colors.js
  heatHFront/React-Native-Mobile/tsconfig.json
Labels: f-mobile

#203 [Frontend] : [Re]Implement feed fetching and like functionality on HomePage
  heatHFront/React-Web/web/src/pages/HomePage.js
  heatHFront/React-Web/web/src/pages/SavedRecipes.js
Labels: frontend, f-web

#218 [Frontend]: Implement recipe fetching and improve data handling on Ho…
  heatHFront/React-Web/web/src/pages/HomePage.js
  heatHFront/React-Web/web/src/pages/myRecipes.js
  heatHFront/React-Web/web/src/services/feedService.js
Labels: frontend, f-web

#220 Fixed years
  heatHFront/React-Web/web/src/pages/ContactUs.js
  heatHFront/React-Web/web/src/pages/LandingPage.jsx
  heatHFront/React-Web/web/src/pages/PrivacyPolicy.js
  heatHFront/React-Web/web/src/pages/TermsofService.js
Labels: frontend, f-web

#225 [Profile] : Enhance feed display with support for different feed type…
  heatHFront/React-Web/web/src/pages/Profile.js
  heatHFront/React-Web/web/src/pages/RecipeDetail.js
Labels: frontend, f-web

#235 [UI]: Add UserProfile pages and route to the application
  heatHFront/React-Web/web/src/App.js
  heatHFront/React-Web/web/src/pages/UserProfile.js
Labels: frontend, f-web

#277 Feed tab Design and Services added
  heatHFront/React-Native-Mobile/app/(main)/_layout.tsx
  heatHFront/React-Native-Mobile/app/(main)/blog.jsx
  heatHFront/React-Native-Mobile/app/(main)/home.jsx
  heatHFront/React-Native-Mobile/app/(main)/profile.jsx
  heatHFront/React-Native-Mobile/app/(main)/recipes.jsx
  heatHFront/React-Native-Mobile/app/(main)/save.jsx
  heatHFront/React-Native-Mobile/app/form/interestForm.jsx
  heatHFront/React-Native-Mobile/assets/images/auth/avatar_default.jpg
  heatHFront/React-Native-Mobile/components/FeedCard.jsx
  heatHFront/React-Native-Mobile/package-lock.json
  heatHFront/React-Native-Mobile/package.json
  heatHFront/React-Native-Mobile/services/feedService.js
Labels: frontend, f-mobile
